{% extends '/layout/main.twig' %}
{% set pageTitle="Сброс" %}
{% block nav %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <div class="row">
        <form action="{{ path("auth_reset_input_validate") }}" method="get" class="col-sm-3 col-sm-offset-4">
            {{ error |default(null) }}<br>
            Код из письма <input type="text" name="token" class="form-control"><br>
            <button>Ввести код</button>
        </form>
    </div>
{% endblock %}
