{% extends '/layout/main.twig' %}
{% set pageTitle="Сброс" %}
{% block nav %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <div class="row">
        <form action="{{ path("auth_reset_password", {token: token}) }}" method="post" class="col-sm-3 col-sm-offset-4">
            {{ error |default(null) }}<br>
            Пароль <input type="text" name="password" class="form-control"><br>
            Телефон <input type="text" name="phone" class="form-control"><br>
            <button>Задать новый пароль</button>
        </form>
    </div>
{% endblock %}
