{% extends '/layout/main.twig' %}
{% set pageTitle="Контур Театр" %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ pageTitle }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="z1.docx">Оригинал</a>
            <h1>О театре:</h1>
            <a href="#1">Описание</a>
            <a href="#2">История</a>
            <a href="#3">Труппа</a>
            <a href="#4">Спектакли</a>
            <a name="1"><h2>Описание</h2></a>
            <div>Контур театр один из лучших театров России. Театр основан в 1988. Сегодня у нас более 30 надежных команд и 1.87млн посетителей в год. Мы заботимся о качестве своих постановок, хотим, чтобы наши посетители были счастливы и довольны. Выступаем в 66 городах России, надеемся скоро сюда добавятся и зарубежные города.</div>
            <a name="2"><h2>История</h2></a>
            <div>Театр основан в 1988 году.  В 1993 году перестроен, а 2001 первом получил награду как лучший академический театр. В 2019 начата реконструкция малой сцены.</div>
            <a name="3"><h2>Труппа</h2></a>
            <div>Иванов Иван заслуженный артист участвует в постановках Эльба, Призма
Сидоров Сидор незаслуженный артист участвует в постановках Бухгалтерия, Клик
И еще более сотни различных артистов</div>
            <a name="4"><h2>Спектакли</h2></a>
            <div>1.	Эльба – опера о малом предпринимателе, который хочет сдать отчетность<br>
2.	Бухгалтерия – мюзикл о бизнесе, которых хочет сдать отчетность<br>
3.	Призма – повесть о банке, который проверил клиента<br>
4.	Клик – грустная история, о том как хотели запустить продукт, а в итоге обанкротили компанию<br>
</div>
        <div>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
{% endblock %}