{% extends '/layout/main.twig' %}
{% set pageTitle="Цена" %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ pageTitle }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" onclick="clearAllFilters()">Очистить все фильтры</button>
            <table id="lesson-database" class="table table-striped">
                <thead>
                <tr>
                    <th>Проект</th>
                    <th>Сотрудник</th>
                    <th>Часы</th>
                    <th>Зарплата</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th id="project"></th>
                    <th id="person">Фильтр</th>
                    <th id="hours"></th>
                    <th id="price"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Первый</td>
                    <td>Иванов</td>
                    <td>3</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Иванов</td>
                    <td>5</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Сидоров</td>
                    <td>2</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Сидаров</td>
                    <td>1</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Третий</td>
                    <td>Ущенко</td>
                    <td>30</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Ущенко</td>
                    <td>1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Четвертый</td>
                    <td>Сидоров</td>
                    <td>22</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>Важный</td>
                    <td>Отважный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Четыре</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Шесть</td>
                    <td>Четыре</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Семь</td>
                    <td>Важный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Пять</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Еще один</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Другой</td>
                    <td>Сидоров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Четвертый</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Седьмой</td>
                    <td>Петров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Какое-то название</td>
                    <td>Шестой</td>
                    <td></td>
                    <td>200</td>
                </tr><tr>
                    <td>Первый</td>
                    <td>Иванов</td>
                    <td>3</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Иванов</td>
                    <td>5</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Сидоров</td>
                    <td>2</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Сидаров</td>
                    <td>1</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Третий</td>
                    <td>Ущенко</td>
                    <td>30</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Ущенко</td>
                    <td>1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Четвертый</td>
                    <td>Сидоров</td>
                    <td>22</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>Важный</td>
                    <td>Отважный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Четыре</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Шесть</td>
                    <td>Четыре</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Семь</td>
                    <td>Важный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Пять</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Еще один</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Другой</td>
                    <td>Сидоров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Четвертый</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Седьмой</td>
                    <td>Петров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Какое-то название</td>
                    <td>Шестой</td>
                    <td></td>
                    <td>200</td>
                </tr><tr>
                    <td>Первый</td>
                    <td>Иванов</td>
                    <td>3</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Иванов</td>
                    <td>5</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Сидоров</td>
                    <td>2</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>Второй</td>
                    <td>Сидаров</td>
                    <td>1</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Третий</td>
                    <td>Ущенко</td>
                    <td>30</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Первый</td>
                    <td>Ущенко</td>
                    <td>1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Четвертый</td>
                    <td>Сидоров</td>
                    <td>22</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>Важный</td>
                    <td>Отважный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Четыре</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Шесть</td>
                    <td>Четыре</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Семь</td>
                    <td>Важный</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Пять</td>
                    <td>Пять</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Еще один</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Другой</td>
                    <td>Сидоров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Четвертый</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Седьмой</td>
                    <td>Петров</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Красивый</td>
                    <td>Иванов</td>
                    <td>1</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Какое-то название</td>
                    <td>Шестой</td>
                    <td></td>
                    <td>200</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dataTable = $("#lesson-database").DataTable({
//                serverSide: true,
                searching: true,
                processing: true,
                stateSave: true,
//                sDom: 'lrtip',
                columns: [
                    {data: "project", name: "project", sortable: true},
                    {data: "person", name: "person", sortable: true},
                    {data: "hours", name: "hours", sortable: true},
                    {data: "price", name: "price", sortable: true}
                ],
                language: {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                },
                initComplete: function () {
                    this.api().columns().every(function () {
                        if (!this.visible()) {
                            columnId = this.dataSrc();
                            $('#' + columnId).remove();
                        }
                        var column = this;
                        var columnId = column.dataSrc();
                        $('<input  style="width: 130px"  type="text" value="' + column.search() + '">')
                            .appendTo($('#' + columnId).empty())
                            .on('keyup', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column.search(val, false, false).draw();
                            });
                    });
                }
            });

            function clearAllFilters() {

                var oTable = $('#lesson-database').dataTable();
                var oSettings = oTable.fnSettings();
                for (iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                    oSettings.aoPreSearchCols[iCol].sSearch = '';
                }
                oTable.fnDraw();
            }
        });

    </script>
{% endblock %}