{% extends '/layout/main.twig' %}
{% set pageTitle="Билеты" %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ pageTitle }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <table cellspacing="0" border="0">
	<colgroup width="234"></colgroup>
	<colgroup width="474"></colgroup>
	<colgroup width="249"></colgroup>
	<colgroup width="156"></colgroup>
	<colgroup span="2" width="64"></colgroup>
	<colgroup width="147"></colgroup>
	<colgroup width="416"></colgroup>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" height="26" align="center" valign=middle><font face="Times New Roman" size=4 color="#000000">&#1062;&#1077;&#1085;&#1072; &#1073;&#1080;&#1083;&#1077;&#1090;&#1072;</font></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=middle><font face="Times New Roman" size=4 color="#000000">&#1050;&#1086;&#1083;&#1080;&#1095;&#1077;&#1089;&#1090;&#1074;&#1086; &#1087;&#1088;&#1086;&#1076;&#1072;&#1074;&#1072;&#1077;&#1084;&#1099;&#1093; &#1085;&#1072; 1 &#1089;&#1077;&#1072;&#1085;&#1089; &#1073;&#1080;&#1083;&#1077;&#1090;&#1086;&#1074;</font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle><font face="Times New Roman" size=4 color="#000000">&#1055;&#1086;&#1083;&#1091;&#1095;&#1072;&#1077;&#1084;&#1072;&#1103; &#1087;&#1088;&#1080;&#1073;&#1099;&#1083;&#1100;</font></td>
		<td align="left" valign=bottom><font color="#000000">&#1042;&#1084;&#1077;&#1089;&#1090;&#1080;&#1084;&#1086;&#1089;&#1090;&#1100; &#1079;&#1072;&#1083;&#1072;</font></td>
		<td align="right" valign=bottom sdval="700" sdnum="1033;"><font color="#000000">700</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">&#1054;&#1090;&#1076;&#1072;&#1090;&#1100; &#1086;&#1089;&#1090;&#1072;&#1074;&#1096;&#1080;&#1077;&#1089;&#1103; &#1084;&#1077;&#1089;&#1090;&#1072;:</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" height="26" align="center" valign=middle sdval="800" sdnum="1033;"><font face="Times New Roman" size=4 color="#000000">800</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="300" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 300    </font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="169000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 169,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000">&#1055;&#1077;&#1095;&#1072;&#1090;&#1100; &#1073;&#1080;&#1083;&#1077;&#1090;&#1072;</font></td>
		<td align="right" valign=bottom sdval="20" sdnum="1033;"><font color="#000000">20</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font color="#000000">&#1079;&#1072; &#1087;&#1086;&#1083;&#1094;&#1077;&#1085;&#1099;</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font color="#000000">&#1073;&#1077;&#1089;&#1087;&#1083;&#1072;&#1090;&#1085;&#1086; &#1076;&#1083;&#1103; &#1087;&#1086;&#1074;&#1099;&#1096;&#1077;&#1085;&#1080;&#1103; &#1083;&#1086;&#1103;&#1083;&#1100;&#1085;&#1086;&#1089;&#1090;&#1080;</font></td>
	</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" height="26" align="center" valign=middle sdval="700" sdnum="1033;"><font face="Times New Roman" size=4 color="#000000">700</font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="400" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 400    </font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="207000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 207,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000">&#1055;&#1086;&#1083;&#1091;&#1095;&#1072;&#1077;&#1084;&#1072;&#1103; &#1087;&#1088;&#1080;&#1073;&#1099;&#1083;&#1100;</font></td>
		<td align="right" valign=bottom sdval="225000" sdnum="1033;"><font color="#000000">225000</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdval="295000" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 295,000    </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdval="225000" sdnum="1033;"><font color="#000000">225000</font></td>
	</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" height="26" align="center" valign=middle sdval="600" sdnum="1033;"><font face="Times New Roman" size=4 color="#000000">600</font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="500" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 500    </font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle bgcolor="#92D050" sdval="225000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 225,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000">&#1054;&#1089;&#1090;&#1072;&#1074;&#1096;&#1080;&#1077;&#1089;&#1103; &#1084;&#1077;&#1089;&#1090;&#1072;</font></td>
		<td align="right" valign=bottom sdval="200" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 200    </font></td>
		<td colspan=3 rowspan=13 align="left" valign=bottom><font color="#000000"><br><img src="dbos6-pmpa5_html_296fc770a5501b82.png" width=567 height=288 hspace=31 vspace=13>
		</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" height="26" align="center" valign=middle sdval="500" sdnum="1033;"><font face="Times New Roman" size=4 color="#000000">500</font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="600" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 600    </font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="223000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 223,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-right: 2px solid #000000" height="26" align="center" valign=middle sdval="400" sdnum="1033;"><font face="Times New Roman" size=4 color="#000000">400</font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="700" sdnum="1033;0;_-* #,##0 _&#8381;_-;-* #,##0 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 700    </font></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle sdval="201000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 201,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000">&#1042;&#1080;&#1076; &#1079;&#1072;&#1090;&#1088;&#1072;&#1090;</font></td>
		<td align="left" valign=bottom><font color="#000000">&#1050;&#1086;&#1083;&#1080;&#1095;&#1077;&#1089;&#1090;&#1074;&#1086;</font></td>
		<td align="left" valign=bottom><font color="#000000">&#1047;&#1072;&#1090;&#1088;&#1072;&#1090;&#1099; &#1079;&#1072; &#1077;&#1076;&#1080;&#1085;&#1080;&#1094;&#1091;</font></td>
		<td align="left" valign=bottom><font color="#000000">&#1048;&#1090;&#1086;&#1075;&#1086;</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="25" align="left" valign=bottom><font face="Times New Roman" size=4 color="#000000">&#1079;&#1072;&#1088;&#1087;&#1083;&#1072;&#1090;&#1072; &#1072;&#1082;&#1090;&#1077;&#1088;&#1072;&#1084; </font></td>
		<td align="right" valign=bottom sdval="1" sdnum="1033;"><font color="#000000">1</font></td>
		<td align="right" valign=bottom sdval="50000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font face="Times New Roman" size=4 color="#000000"> 50,000.00    </font></td>
		<td align="right" valign=bottom sdval="50000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 50,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="25" align="left" valign=bottom><font face="Times New Roman" size=4 color="#000000">&#1079;&#1072;&#1088;&#1087;&#1083;&#1072;&#1090;&#1072; &#1082;&#1086;&#1085;&#1090;&#1088;&#1086;&#1083;&#1077;&#1088;&#1072;&#1084;</font></td>
		<td align="right" valign=bottom sdval="1" sdnum="1033;"><font color="#000000">1</font></td>
		<td align="right" valign=bottom sdval="2500" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 2,500.00    </font></td>
		<td align="right" valign=bottom sdval="2500" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 2,500.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="25" align="left" valign=bottom><font face="Times New Roman" size=4 color="#000000">&#1079;&#1072;&#1088;&#1087;&#1083;&#1072;&#1090;&#1072; &#1091;&#1073;&#1086;&#1088;&#1097;&#1080;&#1094;&#1072;&#1084; </font></td>
		<td align="right" valign=bottom sdval="2" sdnum="1033;"><font color="#000000">2</font></td>
		<td align="right" valign=bottom sdval="2500" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 2,500.00    </font></td>
		<td align="right" valign=bottom sdval="5000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 5,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="25" align="left" valign=bottom><font face="Times New Roman" size=4 color="#000000">&#1079;&#1072;&#1088;&#1087;&#1083;&#1072;&#1090;&#1072; &#1075;&#1072;&#1088;&#1076;&#1077;&#1088;&#1086;&#1073;&#1097;&#1080;&#1094;&#1072;&#1084; </font></td>
		<td align="right" valign=bottom sdval="3" sdnum="1033;"><font color="#000000">3</font></td>
		<td align="right" valign=bottom sdval="2500" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 2,500.00    </font></td>
		<td align="right" valign=bottom sdval="7500" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 7,500.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="25" align="left" valign=bottom><font face="Times New Roman" size=4 color="#000000">&#1048;&#1090;&#1086;&#1075;</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"><br></font></td>
		<td align="right" valign=bottom sdval="65000" sdnum="1033;0;_-* #,##0.00 _&#8381;_-;-* #,##0.00 _&#8381;_-;_-* &quot;-&quot;?? _&#8381;_-;_-@_-"><font color="#000000"> 65,000.00    </font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		</tr>
</table>
        <div>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
{% endblock %}